/********* ESTILOS GENERALES *********/
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  :focus {
    outline: none;
  }
  .h-80 {
    height: calc( 100% - 9rem);
    padding-top: 5rem;
  }
  body {
    font-family: 'Montserrat', sans-serif;
  }
.header-container{
    height: 100% !important;
    
    background:  linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 60%, #070702 100%), url('../img/big2.png');
    background-position-x: 0%, 0%;
    background-position-y: 0%, 0%;
    background-attachment: scroll, scroll;
    background-size: auto, auto;
    background-size: cover;
    background-position: center;
    
    color: #fff;
}
/*************NAV**********************/
.web-title{
  font-family: 'Kalam', cursive;
  background-image: url(../img/bg.png);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  background-position: 79% 92%;
}



/**************HERO*********************/
.ancient-font{
  font-family: 'Stylish', sans-serif;
}

.ancient-font h1{
  font-size: 3.5rem;
}

/**************1st SECTION*********************/
.pt-6{
  padding-top: 6rem;
}
#explore{
  color: white;
}
#explore h2{
  color: #f4c983;
}
.play-info{

   height: 100%;
}
section{
    background: #070702;
}
/**************2nd SECTION*********************/

#articles{
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(178, 121, 92, 0.8), rgba(178, 121, 92, 0.4)), url(../img/bg-joseon.jpg)
}
#articles h2{
  color: #f4c983;
}
/*a link effect*/
#articles a{
  position: relative;
  text-decoration: none;
  color: #f3f3f3;
  font-weight: 600;
  padding: 0.5rem 0;
}

#articles a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 115%;
  height: 1px;
  transform-origin: right;
  transform: scaleX(0);
  background: #f3f3f3;
  transition: transform 300ms ease;
  z-index: 1;
}
#articles a span::before,#articles a span::after{
  content: "";
  position: absolute;
  right: -18%;
  bottom: 0px;
  background: #f3f3f3;
  transition: transform 200ms cubic-bezier(0.3, 1.5, 0.5, 1);
      transition-delay: 0s;
  transition-delay: 240ms;
  z-index: 2;
}

#articles a span::after{
  height: 1px;
  width: 6px;
  transform-origin: 100% 0%;
  transform: translateX(-1px) rotate(0deg);
}
#articles a span::before{
  width: 1px;
  height: 6px;
  transform-origin: 0% 100%;
  transform: rotate(-90deg);
}

/*hover*/
#articles a:hover::before{
  transform-origin: left;
  transform: scaleX(1);
}
#articles a:hover span::before{
  transform: rotate(-45deg);
}
#articles a:hover span::after{
  transform: translateX(-1px) rotate(-45deg);
}

.muted{
  color: #c88667;
}

footer{
    background: #262626;
    color: white;
}